
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <title>Web - Employee Management</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Create Data</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->


<main role="main" class="container">

	<div class="row">
		<div class="col-sm-8">
			<form class="form-horizontal" th:object="${employees}"
				th:action="@{/employee/create}" method="post">
				<input type="hidden" th:field="*{id}" />
				<input type="hidden" th:field="*{version}" />
				
				<div class="form-group" style="margin-top:20px">
					<label class="control-label">NIK :</label>
					<div>
						<input type="text" class="form-control" th:value="${generatedNik}"  required disabled />
						<input type="hidden" class="form-control" th:field="*{nik}"/>
					</div>
				</div>
				<div class="form-group" style="margin-top:20px">
					<label class="control-label">Nama :</label>
					<div>
						<input type="text" class="form-control" th:field="*{nama}" />
					</div>
				</div>

				<div class="form-group" style="margin-top:20px">
					<label class="control-label">Tempat Lahir :</label>
					<div>
						<input type="text" class="form-control" th:field="*{tempat_lahir}" required />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label">Tanggal Lahir :</label>
					<div>
						<input type="date" class="form-control" th:field="*{tgl_lahir}"  required/>
					</div>
				</div>

				<label class="control-label">Jenis Kelamin :</label>
				<div class="form-group" style="margin-top:20px" >
					<input type="radio" id="male" name="gender" value="L" th:field="*{jns_kelamin}">
					<label for="male">Pria</label><br>
					<input type="radio" id="female" name="gender" value="P" th:field="*{jns_kelamin}">
					<label for="female">Wanita</label><br>
				</div>
				<div class="form-group" >
					<label class="control-label"> Agama :</label>
					<select class="form-control kt-select2-general" th:field="*{agama}"
							tabindex="-98" required > <!--th:object="${master}"-->
						<option value=""></option>
						<option th:each="agamas : ${value}" th:value="${agamas.kode}"
								th:utext="${agamas.agama}"></option> <!--th:each="masterModel : ${value}"-->
					</select>
				</div>
				
				<div class="form-group" style="margin-top:20px">
					<label class="control-label">Alamat :</label>
					<div>
						<input type="text" class="form-control" th:field="*{alamat}" required />
					</div>
				</div>



				<div class="form-group" style="display: inline-block;">
					<div>
						<button type="submit" class="btn btn-primary ">Save</button>
					</div>
				</div>
				
				<div class="form-group" style="display: inline-block; margin-left:15px;">
					<a th:href="@{/employee}">
						<button class="btn btn-light" type="button">Cancel</button>
					</a>
				</div>

				
			</form>
		</div>
	</div>

	</main>

	
	

	

	<!-- Bootstrap core JavaScript -->
<!--  <script th:src="@{js/jquery.slim.min.js}"></script>
	<script th:src="@{js/bootstrap.bundle.min.js}"></script>-->


</body>

</html>
